body {
    background: linear-gradient(145deg, coral, lightcoral);
    height: 100vh;
    color: white;
}

.navbar-style {
    width: 100vw;
    background: linear-gradient(145deg, coral, lightcoral);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    font-family: 'JetBrains', monospace;
}

#standart-line {
    color: rgba(255, 255, 255, 0.64);
}

#prof_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}