* {
    margin: 0;
    padding: 0;
}

a {
    color: rgb(255, 255, 255, 0.9);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255);
}

h4 {
    color: rgba(255, 255, 255, 0.7)
}

body {
    height: 100vh;
    color: white;
    background-color: rgb(255, 101, 87);
}

.navbar-style {
    display: flex;
    flex-direction: row;
    color: #1EB980;
    width: 100wh;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.4);
    font-family: 'JetBrains', monospace;
    font-size: 1.2rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(255, 101, 87)
}

#prof_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}