{% extends "base.html" %} {% block content %}
<div id="prof_list">
    {% if list_type == "ol" %}
    <h2>Список профессий</h2>
    <ol>
        <li>Инженер-исследователь</li>
        <li>Пилот</li>
        <li>Строитель</li>
        <li>Экзобиолог</li>
        <li>Врач</li>
        <li>Инженер по терраформированию</li>
        <li>Климатолог</li>
        <li>Специалист по радиационной защите</li>
        <li>Астрогеолог</li>
        <li>Гляциолог</li>
        <li>Инженер жизнеобеспечения</li>
        <li>Метеоролог</li>
        <li>Оператор марсохода</li>
        <li>Киберинженер</li>
        <li>Штурман</li>
        <li>Пилот дронов</li>
    </ol>
    {% elif list_type == "ul" %}
    <h2>Список профессий</h2>
    <ul>
        <li>Инженер-исследователь</li>
        <li>Пилот</li>
        <li>Строитель</li>
        <li>Экзобиолог</li>
        <li>Врач</li>
        <li>Инженер по терраформированию</li>
        <li>Климатолог</li>
        <li>Специалист по радиационной защите</li>
        <li>Астрогеолог</li>
        <li>Гляциолог</li>
        <li>Инженер жизнеобеспечения</li>
        <li>Метеоролог</li>
        <li>Оператор марсохода</li>
        <li>Киберинженер</li>
        <li>Штурман</li>
        <li>Пилот дронов</li>
    </ul>
    {% else %}
    <h1>Неправильный аргумент. Повторите попытку</h1>
    {% endif %}
</div>
{% endblock %}